.bodylogin{


background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box{
    /* width: 100vw; */
    height: 900px;
    border: 0.1px solid;
    scroll-behavior: none;
}

.headlogin{
    margin-left: 177px;
    margin-top: 24px;
    font-weight: bold;
    font-size: x-large;
}

.continorlogin{
    border: 2px solid white;
    border-radius: 5px;
    width: 450px;
    height: 435px;
    margin: 167px auto;
    background-color: white;
    box-shadow: 4px 3px 9px rgb(0 0 0);
}

/* .formbox{
    width: 50%;
    height: 50%;
    margin: 69px auto;
    border: 2px solid greenyellow;
} */

.inputbox{
    margin: 48px 15px;
  
}

.inputbox input{
    height: 32px;
    padding-left: 2px;
    width: 364px;
    border: 1px solid black;
    border-radius: 2px;
}

.insidebox{
    /* width: 255px; */
    /* height: 329px; */
    margin-left: 22px;
    margin-top: 18px;
    /* border: 2px solid rgb(139, 96, 46); */
}

.inputname{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: larger;
}

.buttonlogin{
    margin: 12px 15px;
}

.btnlogin{
    background: black;
    color: white;
    margin-left: 51px;
    width: 99px;
    height: 33px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.errormsg{
    /* border: 2px solid red; */
    text-align: center;
    height: 25px;
    width: 400px;
    color: salmon;
    background: white
}
